* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  background: rgb(247, 247, 247);
  width: 100%;
  text-align: center;
}

.main-nav {
  margin-top: 5px;
}

.name {
  margin: 0;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

.name,
.main-nav a {
  color: #595959;
  text-align: center;
  display: block;
  padding: 10px 15px;
  font-weight: 900;
}

section p {
  color: #8c8c8c;
}

.col {
  padding-left: 2em;
  padding-right: 2em;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #595959;
  margin: 0;
}

header li {
  background: white;
  margin-top: 8px;
}

header ul {
  margin-right: 30px;
  margin-left: 30px;
}

.main-header img {
  max-width: 60%;
}

#portfolio-upper,
#portfolio-lower {
  text-align: center;
}

.portfolio-img {
  max-width: 100%;
}

.about-me {
  padding-left: 2em;
  padding-right: 2em;
  color: #808080;
}

.main-footer {
  background: rgb(247, 247, 247);
  text-align: center;
  color: #808080;
}

h3 {
  font-weight: 500;
  color: #595959;
}

h5 {
  font-weight: 600;
  text-transform: uppercase;
  color: #595959;
}

/* psuedo classes{} */
a:hover,
a:link {
  text-decoration: none;
}